body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #80fcfc;
}
/* Media Queries */

/* Mobile (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .container {
    width: 68%;
    margin-top: 80px;
    margin-left: -176px;
  }
  .collapse {
    flex: 1;
    width: 400px;
  }
  .box {
    position: absolute;
    top: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    animation: animate 5s infinite;
  }
  @keyframes animate {
    0% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
      transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
      transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
  }
  .card {
    position: absolute;
  }
  #front {
    transform: translateZ(125px);
  }
  #back {
    transform: translateZ(-125px);
  }
  #left {
    right: 125px;
    transform: rotateY(-90deg);
  }
  #right {
    left: 125px;
    transform: rotateY(-90deg);
  }
  #top {
    bottom: 125px;
    transform: rotateX(-90deg);
  }
  #bottom {
    top: 125px;
    transform: rotateX(-90deg);
  }
  input {
    height: 50px;
    width: 100px;
    background: pink;
    /* border: none; */
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: -110px;
    left: 175px;
  }
  input:focus ~ .box #front {
    transform: translateZ(180deg) rotateY(360deg);
  }
  input:focus ~ .box #back {
    transform: translateZ(-180deg) rotateY(360deg);
  }
  input:focus ~ .box #left {
    right: 180px;
  }
  input:focus ~ .box #right {
    left: 180px;
  }
  input:focus ~ .box #top {
    bottom: 180px;
  }
  input:focus ~ .box #bottom {
    top: 180px;
  }
}

/* Tablet (min-width: 601px) and (max-width: 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%;
    margin-top: 80px;
    margin-left: 60px;
  }
  .collapse {
    flex: 1;
    width: 400px;
  }
  .box {
    position: absolute;
    top: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    animation: animate 5s infinite;
  }
  @keyframes animate {
    0% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
      transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
      transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
  }
  .card {
    position: absolute;
  }
  #front {
    transform: translateZ(125px);
  }
  #back {
    transform: translateZ(-125px);
  }
  #left {
    right: 125px;
    transform: rotateY(-90deg);
  }
  #right {
    left: 125px;
    transform: rotateY(-90deg);
  }
  #top {
    bottom: 125px;
    transform: rotateX(-90deg);
  }
  #bottom {
    top: 125px;
    transform: rotateX(-90deg);
  }
  input {
    height: 50px;
    width: 100px;
    background: pink;
    /* border: none; */
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: -110px;
    left: 175px;
  }
  input:focus ~ .box #front {
    transform: translateZ(180deg) rotateY(360deg);
  }
  input:focus ~ .box #back {
    transform: translateZ(-180deg) rotateY(360deg);
  }
  input:focus ~ .box #left {
    right: 180px;
  }
  input:focus ~ .box #right {
    left: 180px;
  }
  input:focus ~ .box #top {
    bottom: 180px;
  }
  input:focus ~ .box #bottom {
    top: 180px;
  }
}

/* Desktop (min-width: 1025px) */
@media only screen and (min-width: 1025px) {
  .collapse {
    flex: 1;
    width: 400px;
  }
  .box {
    position: absolute;
    top: 100px;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    animation: animate 5s infinite;
  }
  @keyframes animate {
    0% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
      transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
      transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(-45deg);
    }
  }
  .card {
    position: absolute;
  }
  #front {
    transform: translateZ(125px);
  }
  #back {
    transform: translateZ(-125px);
  }
  #left {
    right: 125px;
    transform: rotateY(-90deg);
  }
  #right {
    left: 125px;
    transform: rotateY(-90deg);
  }
  #top {
    bottom: 125px;
    transform: rotateX(-90deg);
  }
  #bottom {
    top: 125px;
    transform: rotateX(-90deg);
  }
  input {
    height: 50px;
    width: 100px;
    background: pink;
    /* border: none; */
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: -110px;
    left: 175px;
  }
  input:focus ~ .box #front {
    transform: translateZ(180deg) rotateY(360deg);
  }
  input:focus ~ .box #back {
    transform: translateZ(-180deg) rotateY(360deg);
  }
  input:focus ~ .box #left {
    right: 180px;
  }
  input:focus ~ .box #right {
    left: 180px;
  }
  input:focus ~ .box #top {
    bottom: 180px;
  }
  input:focus ~ .box #bottom {
    top: 180px;
  }
}
.container {
  height: 60vh;
  width: 30vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}
.collapse {
  display: flex;
  margin-top: -55px;
  margin-left: 60px;
}

.box {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  /* transform: rotate(-90deg); */
  transform-style: preserve-3d;
  animation: animate 5s infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
  25% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  50% {
    transform: rotateX(45deg) rotateY(45deg);
  }
  75% {
    transform: rotateX(-45deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
}
.card {
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 100px 0px;
  color: white;
  background: black;
  border: 2px solid white;
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
  transition: all 1s ease;
}
#front {
  transform: translateZ(125px);
}
#back {
  transform: translateZ(-125px);
}
#left {
  right: 125px;
  transform: rotateY(-90deg);
}
#right {
  left: 125px;
  transform: rotateY(-90deg);
}
#top {
  bottom: 125px;
  transform: rotateX(-90deg);
}
#bottom {
  top: 125px;
  transform: rotateX(-90deg);
}
input {
  height: 50px;
  width: 100px;
  background: pink;
  /* border: none; */
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: -110px;
  left: 175px;
}
input:focus ~ .box #front {
  transform: translateZ(180deg) rotateY(360deg);
}
input:focus ~ .box #back {
  transform: translateZ(-180deg) rotateY(360deg);
}
input:focus ~ .box #left {
  right: 180px;
}
input:focus ~ .box #right {
  left: 180px;
}
input:focus ~ .box #top {
  bottom: 180px;
}
input:focus ~ .box #bottom {
  top: 180px;
}
